body {
    background-color: #fff3db;
    font-family: sans-serif;
    text-align: center;
}


p, ul, ol {
    text-align: left;
}

p{
   color: #333;
}


h1 {
    color : #ffffff;
    font-size: 50px;
    background-color: #f02425;
    text-align: center;
}


h2,h3 { _
    color:#f02425;
    text-align: center;
    font-size: 30px;
    font-weight: Underline;

}

h4 {
    font-style: italic;
    text-align: center;
    font-weight: normal;
    text-decoration: underline;
}

.rouge {
        color: red;
}

strong, em {
    color : #f02425;
    font-style : normal;
}

